<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chores</title>
</head>
<body>

<ul>
    <div>
        {% for name, assignments in assignments.items %}
        <h2>{{ name }}'s assignments:</h2>
            {% for a in assignments %}
            <li>
                {% if a.date_finished %}
                <strike>{{ a }}</strike>
                {% else %}
                {{ a }}
                {% endif %}
            </li>
            {% endfor %}
        {% endfor %}
    </div>
</ul>


</body>
</html>